# _____________________________________________________________________________
#
# GitLab CI for miniPIC
# _____________________________________________________________________________

# image: gcc

variables:
  # List of GPUs to exclude from the tests
  EXCLUDED_GPUS: ""

.default_run: &default_run [main, develop, pipeline]

# _____________________________________________________________________________
#
# Workflow
# _____________________________________________________________________________
# workflow:
#   auto_cancel:
#     on_new_commit: interruptible
#   rules:
#     # Run the CI if the commit message contains `[run ci]`
#     - if: $CI_COMMIT_MESSAGE =~ /\[run ci\]/
#       variables:
#         BENCHMARKS: $BENCHMARKS
#       when: always
#     # Run CI when a merge request is created
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#       variables:
#         BENCHMARKS: $BENCHMARKS
#       when: always
#     # Run CI on master branch
#     - if: $CI_COMMIT_BRANCH == "master"
#       variables:
#         BENCHMARKS: $BENCHMARKS
#       when: always
#     # Do not run the CI if the commit message contains `[skip ci]`
#     - if: $CI_COMMIT_MESSAGE =~ /\[skip ci\]/
#       when: never

# _____________________________________________________________________________
#
# Test OpenMP version on GitLab servers
# _____________________________________________________________________________
# test_openmp:
#   image: gcc  
#   only: *default_run
#   stage: test
#   before_script:
#     - apt update && apt -y install cmake
#     - apt-get install -y git python3-matplotlib python3-numpy # build-essential python3-dev python3-ipython
#   script:
#     - export PYTHONPATH=${PWD}:$PYTHONPATH
#     - cd tests
#     - python3 run.py

# _____________________________________________________________________________
#
# Test Mini-PIC using Kokkos OpenMP for CPU on Ruche
# _____________________________________________________________________________

test_kokkos_omp:
  # only: *default_run
  tags:
    - ruche
  stage: test
  # needs: [ test_omp ]
  before_script:
    - source ${WORKDIR}/gitlab-ci_runs/env/kokkos_omp_cpu_intel
  script:
    - cp -r tests tests_kokkos_omp
    - cd tests_kokkos_omp
    - srun --time=00:20:00 --cpus-per-task=8 --ntasks=1 --partition=cpu_short python3 run.py -c icpx -g kokkos  # --save-timers

# _____________________________________________________________________________
#
# Test Mini-PIC using Kokkos for V100 or A100 GPU on Ruche
# _____________________________________________________________________________

test_kokkos_gpu:
  # only: *default_run
  tags:
    - ruche
  stage: test
  # needs: [ test_kokkos_omp ]
  before_script:
    - source $WORKDIR/gitlab-ci_runs/env/kokkos_a100
  script:
    - cp -r tests tests_kokkos_gpu
    - cd tests_kokkos_gpu
    - srun --nodes=1 --time=00:15:00 -p gpua100 --gres=gpu:1 --exclude=$EXCLUDED_GPUS python3 run.py -c g++ -g kokkos_gpu  # --save-timers
  



      




    


