# _____________________________________________________________________________
#
# GitLab CI for miniPIC
# _____________________________________________________________________________

# image: gcc

variables:
  # List of GPUs to exclude from the tests
  EXCLUDED_GPUS: "ruche-gpu17,ruche-gpu16"

# _____________________________________________________________________________
#
# Test Mini-PIC exercise using OpenMP for CPU on Ruche
# _____________________________________________________________________________

test_exercise_serial:
  # only: *default_run
  tags:
    - ruche
  stage: test
  # needs: [ test_omp ]
  before_script:
    - source ${WORKDIR}/gitlab/runners/minipic_cexa/envs/omp.sh
    - pip install .
  script:
    - srun --time=00:20:00 --cpus-per-task=4 --ntasks=1 --partition=cpu_short mini-run -c icpx -g cpu-serial --implementation exercise --build="build/exercise"

# _____________________________________________________________________________
#
# Test Mini-PIC kokkos using OpenMP for CPU on Ruche
# _____________________________________________________________________________

test_kokkos_omp:
  # only: *default_run
  tags:
    - ruche
  stage: test
  # needs: [ test_omp ]
  before_script:
    - source ${WORKDIR}/gitlab/runners/minipic_cexa/envs/omp.sh
    - pip install .
  script:
    - srun --time=00:20:00 --cpus-per-task=8 --ntasks=1 --partition=cpu_short mini-run -c icpx -g cpu-openmp --implementation kokkos --build="build/kokkos/omp"

# _____________________________________________________________________________
#
# Test Mini-PIC kokkos on A100 GPU on Ruche
# _____________________________________________________________________________

test_kokkos_gpu:
  # only: *default_run
  tags:
    - ruche
  stage: test
  # needs: [ test_kokkos_omp ]
  before_script:
    - source ${WORKDIR}/gitlab/runners/minipic_cexa/envs/a100.sh
    - pip install .
  script:
    - srun --nodes=1 --time=00:15:00 -p gpua100 --gres=gpu:1 --exclude=$EXCLUDED_GPUS mini-run -c g++ -g gpu-a100 --implementation kokkos --build="build/kokkos/gpu"
