# _____________________________________________________________________________
#
# GitLab CI for miniPIC
# _____________________________________________________________________________

# image: gcc

variables:
  # List of GPUs to exclude from the tests
  EXCLUDED_GPUS: ""
  # List of benchmarks to run
  BENCHMARKS: "default,beam,antenna"

.default_run: &default_run [master, nvidia_profiling, thrust_counting_iterator]

# _____________________________________________________________________________
#
# Workflow
# _____________________________________________________________________________
workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    # Run the CI if the commit message contains `[run ci]`
    - if: $CI_COMMIT_MESSAGE =~ /\[run ci\]/
      variables:
        BENCHMARKS: $BENCHMARKS
      when: always
    # Do not run the CI if the commit message
    # contains `[skip ci]` or contains `draft`
    # Run CI whern a merge request is created
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        BENCHMARKS: $BENCHMARKS
      when: always

# build:
#   only: *default_run
#   stage: build
#   before_script:
#     - apt update && apt -y install cmake
#   script:
#     - cmake -DCMAKE_CXX_COMPILER=g++-12 -DCMAKE_VERBOSE_MAKEFILE=ON ./ 
#     - make
#     - cp src/mini-pic .
#   artifacts:
#     paths:
#       - mini-pic


# _____________________________________________________________________________
#
# Build Kokkos for V100 GPU on Ruche
# _____________________________________________________________________________
# build_kokkos_v100:
#   only: *default_run
#   tags:
#     - ruche
#   stage: build
#   before_script:
#     - module load cmake/3.21.4/gcc-11.2.0 gcc/11.2.0/gcc-4.8.5 cuda/12.2.1/gcc-11.2.0
#   script:
#     - git clone git@github.com:kokkos/kokkos.git
#     - cd kokkos
#     - git checkout develop
#     - mkdir build_v100 install_v100
#     - cmake -S . -B build_v100 -DCMAKE_CXX_COMPILER=g++ -DCMAKE_INSTALL_PREFIX=$(pwd)/install_v100 -DCMAKE_BUILD_TYPE=Release -DKokkos_ENABLE_OPENMP=ON -DKokkos_ENABLE_CUDA=ON -DKokkos_ARCH_VOLTA70=ON -DKokkos_ENABLE_CUDA_LAMBDA=ON -DCMAKE_CXX_EXTENSIONS=ON -DKokkos_ENABLE_CUDA_CONSTEXPR=ON
#     - cd build_v100
#     - make -j 4
#     - make install
#     - cd ..
#   artifacts:
#     paths:
#       - $CI_PROJECT_DIR/kokkos/install_v100/

# _____________________________________________________________________________
#
# Test OpenMP version on GitLab servers
# _____________________________________________________________________________
# test_openmp:
#   image: gcc  
#   only: *default_run
#   stage: test
#   before_script:
#     - apt update && apt -y install cmake
#     - apt-get install -y git python3-matplotlib python3-numpy # build-essential python3-dev python3-ipython
#   script:
#     - export PYTHONPATH=${PWD}:$PYTHONPATH
#     - cd tests
#     - python3 run.py

# _____________________________________________________________________________
#
# Test Mini-PIC using OpenMP On Ruche Cascadelakes
# _____________________________________________________________________________

test_omp:
  # only: *default_run
  rules:
    # If not on the master branch and related files have been modified, run the CI
    - if: $CI_COMMIT_BRANCH != "master"
      changes:
        - src/openmp/*
        - src/common/*
        - src/setups/*
        - src/main.cpp
        - .gitlab-ci.yml
        - tests/run.py
        - validation/*
        - CMakeLists.txt
      when: always
    # If has [run ci] in the commit message, always run the CI
    - if: $CI_COMMIT_MESSAGE =~ /\[run ci\]/
      when: always
    # Do not run if draft or skip ci
    - if: $CI_COMMIT_REF_NAME =~ /\[draft\]/ || $CI_COMMIT_MESSAGE =~ /\[skip ci\]/
      when: never
    # If on the master branch, always run the CI
    - if: $CI_COMMIT_BRANCH == "master"
      when: always
  tags:
    - ruche
  stage: test
  before_script:
    # - source ${HOME}/env/kokkos_omp_cpu
    - source ${WORKDIR}/gitlab-ci_runs/env/oneapi
  script:
    - cp -r tests tests_omp
    - cd tests_omp
    - srun --time=00:20:00 --cpus-per-task=8 --ntasks=1 --partition=cpu_short python3 run.py -c icpx --benchmarks=$BENCHMARKS_CPU # --save-timers
  # dependencies:
  #   - build_kokkos_v100

# _____________________________________________________________________________
#
# Test Mini-PIC using Kokkos OpenMP for CPU on Ruche
# _____________________________________________________________________________

test_kokkos_omp:
  # only: *default_run
  rules:
    # If not on the master branch and `src/kokkos` has been modified, run the CI
    - if: $CI_COMMIT_BRANCH != "master"
      changes:
        - src/kokkos/*
        - src/common/*
        - src/main.cpp
        - src/setups/*
        - .gitlab-ci.yml
        - tests/run.py
        - validation/*
        - CMakeLists.txt
      when: always
    # If has `[run ci]` in the commit message, always run the CI
    - if: $CI_COMMIT_MESSAGE =~ /\[run ci\]/
      when: always
    # Do not run if draft or skip ci
    - if: $CI_COMMIT_REF_NAME =~ /\[draft\]/ || $CI_COMMIT_MESSAGE =~ /\[skip ci\]/
      when: never
    # If on the master branch, always run the CI
    - if: $CI_COMMIT_BRANCH == "master"
      when: always
  tags:
    - ruche
  stage: test
  # needs: [ test_omp ]
  before_script:
    - source ${WORKDIR}/gitlab-ci_runs/env/kokkos_omp_cpu_intel
  script:
    - cp -r tests tests_kokkos_omp
    - cd tests_kokkos_omp
    - srun --time=00:20:00 --cpus-per-task=8 --ntasks=1 --partition=cpu_short python3 run.py -c icpx -g kokkos --benchmarks=$BENCHMARKS_CPU # --save-timers

# _____________________________________________________________________________
#
# Test Mini-PIC using Kokkos for V100 or A100 GPU on Ruche
# _____________________________________________________________________________

test_kokkos_gpu:
  # only: *default_run
  rules:
    # If not on the master branch and `src/kokkos` has been modified, run the CI
    - if: $CI_COMMIT_BRANCH != "master"
      changes:
        - src/kokkos/*
        - src/common/*
        - src/setups/*
        - src/main.cpp
        - .gitlab-ci.yml
        - tests/run.py
        - validation/*
        - CMakeLists.txt
      when: always
    # If has [run ci] in the commit message, always run the CI
    - if: $CI_COMMIT_MESSAGE =~ /\[run ci\]/
      when: always
    # Do not run if draft or skip ci
    - if: $CI_COMMIT_REF_NAME =~ /\[draft\]/ || $CI_COMMIT_MESSAGE =~ /\[skip ci\]/
      when: never
    # If on the master branch, always run the CI
    - if: $CI_COMMIT_BRANCH == "master"
      when: always
  tags:
    - ruche
  stage: test
  # needs: [ test_kokkos_omp ]
  before_script:
    - source $WORKDIR/gitlab-ci_runs/env/kokkos_a100
  script:
    - cp -r tests tests_kokkos_gpu
    - cd tests_kokkos_gpu
    - srun --nodes=1 --time=00:15:00 -p gpua100 --gres=gpu:1 --exclude=$EXCLUDED_GPUS python3 run.py -c g++ -g kokkos_gpu --benchmarks=$BENCHMARKS  # --save-timers
  



      




    


