# _____________________________________________________________________________
#
# GitLab CI for miniPIC
# _____________________________________________________________________________

# image: gcc

variables:
  # List of GPUs to exclude from the tests
  EXCLUDED_GPUS: "ruche-gpu17"

# _____________________________________________________________________________
#
# Test Mini-PIC using Kokkos OpenMP for CPU on Ruche
# _____________________________________________________________________________

test_kokkos_omp:
  # only: *default_run
  tags:
    - ruche
  stage: test
  # needs: [ test_omp ]
  before_script:
    - source ${WORKDIR}/gitlab-ci_runs/env/kokkos_omp_cpu_intel
  script:
    - cp -r tests tests_kokkos_omp
    - cd tests_kokkos_omp
    - srun --time=00:20:00 --cpus-per-task=8 --ntasks=1 --partition=cpu_short python3 run.py -c icpx -g cpu-openmp

# _____________________________________________________________________________
#
# Test Mini-PIC using Kokkos for V100 or A100 GPU on Ruche
# _____________________________________________________________________________

test_kokkos_gpu:
  # only: *default_run
  tags:
    - ruche
  stage: test
  # needs: [ test_kokkos_omp ]
  before_script:
    - source $WORKDIR/gitlab-ci_runs/env/kokkos_a100
  script:
    - cp -r tests tests_kokkos_gpu
    - cd tests_kokkos_gpu
    - srun --nodes=1 --time=00:15:00 -p gpua100 --gres=gpu:1 --exclude=$EXCLUDED_GPUS python3 run.py -c g++ -g gpu-a100
